<!DOCTYPE html>
<html>
<head>
    <title>Hexagon Polygon Map</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Initialize the map
    var map = L.map('map').setView([41.0082, 28.9784], 13);

    var rehberVTGrayLayer = L.tileLayer('https://cbsaltlik.ibb.gov.tr/arcgis/rest/services/Rehber/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'İstanbul Büyükşehir Belediyesi©',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 20
    });

    // Add only the selected layer back to the map
    var selectedLayer = rehberVTGrayLayer
    selectedLayer.addTo(map);

    // Add the layer control back to the map with only the selected layer option
    var layerControl = L.control.layers({
        // Only show the selected layer in the layer control
        'RehberVTGri': rehberVTGrayLayer
    }).addTo(map);


    async function loadAfadAnalytics(gridID) {
        console.log("gridID", gridID)
        const response = await fetch("../static/data/afad_network_full_son.json");
        const names = await response.json();

        // console.log("names",names)
        // console.log("1",Object.keys(names))
        // console.log("2",Object.values(names))
        // for (let i; i < names.length())
        // console.log("alo", listNames);
        // console.log("alo", listNames[0]);
        // console.log(names[0].col0.slice(0, 1));
        let listNames = Object.values(names)
        // console.log("alo", listNames);

        var finalResult;
        for (let j = 1; j < listNames.length + 1; j++) {
            if (gridID === j) {
                // console.log("girdi")
                // console.log(listNames[j])
                // console.log(listNames[j].col0)
                searchElement = listNames[j].col0
                const hexagonPointsList = []
                if (searchElement.indexOf("polygon_4") !== -1) {
                    // console.log(searchElement)
                    let searchElementFilter = searchElement.slice(searchElement.indexOf("polygon_4"))
                    let searchElementFilterFirstChar = searchElementFilter.indexOf(',') + 1
                    let searchElementFilterLastChar = searchElementFilter.indexOf(')')
                    let polygon4Score = parseInt(searchElementFilter.slice(searchElementFilterFirstChar, searchElementFilterLastChar)) * 5
                    hexagonPointsList.push(polygon4Score)
                } else {
                    hexagonPointsList.push(0)
                }
                if (searchElement.indexOf("polygon_3") !== -1) {
                    let searchElementFilter = searchElement.slice(searchElement.indexOf("polygon_3"))
                    let searchElementFilterFirstChar = searchElementFilter.indexOf(',') + 1
                    let searchElementFilterLastChar = searchElementFilter.indexOf(')')
                    let polygon3Score = parseInt(searchElementFilter.slice(searchElementFilterFirstChar, searchElementFilterLastChar)) * 4
                    hexagonPointsList.push(polygon3Score)
                } else {
                    hexagonPointsList.push(0)
                }
                if (searchElement.indexOf("polygon_2") !== -1) {
                    let searchElementFilter = searchElement.slice(searchElement.indexOf("polygon_2"))
                    let searchElementFilterFirstChar = searchElementFilter.indexOf(',') + 1
                    let searchElementFilterLastChar = searchElementFilter.indexOf(')')
                    let polygon2Score = parseInt(searchElementFilter.slice(searchElementFilterFirstChar, searchElementFilterLastChar)) * 3
                    hexagonPointsList.push(polygon2Score)
                } else {
                    hexagonPointsList.push(0)
                }
                if (searchElement.indexOf("polygon_1") !== -1) {
                    let searchElementFilter = searchElement.slice(searchElement.indexOf("polygon_1"))
                    let searchElementFilterFirstChar = searchElementFilter.indexOf(',') + 1
                    let searchElementFilterLastChar = searchElementFilter.indexOf(')')
                    let polygon1Score = parseInt(searchElementFilter.slice(searchElementFilterFirstChar, searchElementFilterLastChar)) * 2
                    hexagonPointsList.push(polygon1Score)
                } else {
                    hexagonPointsList.push(0)
                }
                if (searchElement.indexOf("polygon_0") !== -1) {
                    let searchElementFilter = searchElement.slice(searchElement.indexOf("polygon_0"))
                    let searchElementFilterFirstChar = searchElementFilter.indexOf(',') + 1
                    let searchElementFilterLastChar = searchElementFilter.indexOf(')')
                    let polygon0Score = parseInt(searchElementFilter.slice(searchElementFilterFirstChar, searchElementFilterLastChar))
                    hexagonPointsList.push(polygon0Score)
                } else {
                    hexagonPointsList.push(0)
                }
                var totalScoreForThisHexagon = hexagonPointsList.reduce((a, b) => a + b, 0)
                if (totalScoreForThisHexagon !== 0 && !isNaN(totalScoreForThisHexagon)) {
                    finalResult = parseInt(totalScoreForThisHexagon / 20)
                } else {
                    finalResult = 0;
                }
                break
            } else {
                finalResult = 0;
            }
        }
        return finalResult;
    }


    async function loadHospitalityAnalytics(gridID) {
        // console.log("gridID", gridID)
        const response = await fetch("../static/data/hexgrid_hospitality_alt_son.json");
        const hospitalities = await response.json();

        // console.log("areas", hospitalities)
        // console.log("1", Object.keys(hospitalities))
        // // console.log("2",Object.values(names))
        // // for (let i; i < names.length())
        let listHospitalities = Object.values(hospitalities)
        // console.log("alo", listHospitalities);
        // console.log("alo123123", listHospitalities[0].ID);
        // // console.log(names[0].col0.slice(0, 1));
        //
        for (let j = 0; j < listHospitalities.length; j++) {
            if (gridID === listHospitalities[j].ID) {
                // console.log("girdi")
                // console.log(listNames[j])
                // console.log(listNames[j].col0)
                searchElement = listHospitalities[j].SCORE
                // console.log("ayooooooooooooo: ", searchElement)
                break
            } else {
                searchElement = 0
            }

        }
        return parseInt(searchElement * 10);
    }

    async function loadAreaAnalytics(gridID) {
        // console.log("gridID", gridID)
        const response = await fetch("../static/data/alan_afad_oran.json");
        const areas = await response.json();

        // console.log("areas", areas)
        // console.log("1", Object.keys(areas))
        // // console.log("2",Object.values(names))
        // // for (let i; i < names.length())
        // console.log("alo", listAreas);
        // // console.log("alo", listNames[0]);
        // // console.log(names[0].col0.slice(0, 1));

        let listAreas = Object.values(areas)
        for (let j = 0; j < listAreas.length; j++) {
            if (gridID === listAreas[j].ID) {
                // console.log("girdi")
                // console.log(listNames[j])
                // console.log(listNames[j].col0)
                searchElement = listAreas[j].ORAN
                break
            } else {
                searchElement = 0
            }
        }
        return parseInt(100 - (searchElement * 100));
    }

    async function loadFaultLineDistanceAnalytics(gridID) {
        // console.log("gridID", gridID)
        const response = await fetch("../static/data/hexgrid_fayhatti_full_son.json");
        const distances = await response.json();

        // console.log("distances", distances)
        // console.log("1", Object.keys(distances))
        // // console.log("2",Object.values(names))
        // // for (let i; i < names.length())
        // console.log("alo", listAreas);
        // // console.log("alo", listNames[0]);
        // // console.log(names[0].col0.slice(0, 1));

        let listDistances = Object.values(distances)
        for (let j = 1; j < listDistances.length + 1; j++) {
            if (gridID === j) {
                // console.log("girdi")
                // console.log(listNames[j])
                // console.log(listNames[j].col0)
                searchElement = listDistances[j].DISTANCE
                break
                // console.log("distance", searchElement)
            } else {
                searchElement = 0
            }
        }
        return parseInt(100 - (searchElement * 5));
    }


    async function loadSuitabilityAnalytics(gridID) {
        // console.log("gridID", gridID)
        const response = await fetch("../static/data/afad_alan_yeterlilik.json");
        const suitabilityRates = await response.json();

        // console.log("distances", distances)
        // console.log("1", Object.keys(distances))
        // // console.log("2",Object.values(names))
        // // for (let i; i < names.length())
        // console.log("alo", listAreas);
        // // console.log("alo", listNames[0]);
        // // console.log(names[0].col0.slice(0, 1));

        let listSuitabilityRates = Object.values(suitabilityRates)
        for (let j = 1; j < listSuitabilityRates.length + 1; j++) {
            if (gridID === j) {
                // console.log("girdi")
                // console.log(listNames[j])
                // console.log(listNames[j].col0)
                // console.log("adsasd", listSuitabilityRates[j])
                searchElement = listSuitabilityRates[j].NUFUS_AFAD_ORAN
                break
                // console.log("distance", searchElement)
            } else {
                searchElement = 0
            }
        }
        // console.log("search eleleme ", searchElement)
        if (searchElement === 0) {
            var finalResult = 0
        } else {
            var finalResult = 100 - searchElement
        }
        return finalResult;
    }

    // Load the GeoJSON data
    // var geojsonUrl = 'https://raw.githubusercontent.com/sukruburakcetin/earthquake-network-analysis/master/main/static/data/hexgrids_fatih.geojson';
    var geojsonUrl = 'https://raw.githubusercontent.com/sukruburakcetin/earthquake-network-analysis/master/main/static/data/fatih_hexgrids_with_colors.json';

    fetch(geojsonUrl)
        .then(function (response) {
            return response.json();
        })
        .then(async function (data) {

            // Create a GeoJSON layer and add it to the map with click event listener
            let dataKeys = Object.keys(data.features)
            // console.log("a", data)
            // console.log("b", dataKeys)
            console.log("data",data)
            // let totalScores = []; // Initialize an array to store total scores
            //
            // let totalAfadNetworkRegionScoreForThisHexagon;
            // let totalHospitalityNetworkRegionScoreForThisHexagon;
            // let totalAreaRatioForThisHexagon;
            // let totalFaultLineDistanceForThisHexagon;
            // let totalSuitabilityForThisHexagon;
            //
            // for (let i = 0; i < dataKeys.length+1; i++) {
            //     console.log("asdasd", data.features[i].properties.col3)
            //     try {
            //         totalAfadNetworkRegionScoreForThisHexagon = await loadAfadAnalytics(data.features[i].properties.ID);
            //     } catch (e) {
            //         totalAfadNetworkRegionScoreForThisHexagon = 0
            //         console.log("e", e)
            //     }
            //     try {
            //         totalHospitalityNetworkRegionScoreForThisHexagon = await loadHospitalityAnalytics(data.features[i].properties.ID);
            //     } catch (e) {
            //         totalHospitalityNetworkRegionScoreForThisHexagon = 0
            //         console.log("e", e)
            //     }
            //     try {
            //         totalAreaRatioForThisHexagon = await loadAreaAnalytics(data.features[i].properties.ID);
            //     } catch (e) {
            //         totalAreaRatioForThisHexagon = 0
            //         console.log("e", e)
            //     }
            //     try {
            //         totalFaultLineDistanceForThisHexagon = await loadFaultLineDistanceAnalytics(data.features[i].properties.ID);
            //     } catch (e) {
            //         totalFaultLineDistanceForThisHexagon = 0
            //         console.log("e", e)
            //     }
            //     try {
            //         totalSuitabilityForThisHexagon = await loadSuitabilityAnalytics(data.features[i].properties.ID);
            //     } catch (e) {
            //         totalSuitabilityForThisHexagon = 0
            //         console.log("e", e)
            //     }
            //     console.log("totalAfadNetworkRegionScoreForThisHexagon: ", totalAfadNetworkRegionScoreForThisHexagon)
            //     console.log("totalHospitalityNetworkRegionScoreForThisHexagon: ", totalHospitalityNetworkRegionScoreForThisHexagon)
            //     console.log("totalAreaRatioForThisHexagon: ", totalAreaRatioForThisHexagon)
            //     console.log("totalFaultLineDistanceForThisHexagon: ", totalFaultLineDistanceForThisHexagon)
            //     console.log("totalSuitabilityForThisHexagon: ", totalSuitabilityForThisHexagon)
            //
            //     // Sum the scores
            //     var totalScore = totalAfadNetworkRegionScoreForThisHexagon +
            //         totalHospitalityNetworkRegionScoreForThisHexagon +
            //         totalAreaRatioForThisHexagon +
            //         totalFaultLineDistanceForThisHexagon +
            //         totalSuitabilityForThisHexagon;
            //     if (!isNaN(totalScore)) {
            //         totalScores.push(totalScore); // Add the total score to the array
            //     } else {
            //         totalScores.push(0);
            //     }
            // }
            // console.log("totalScores", totalScores)

            // Create a GeoJSON layer and add it to the map with click event listener
            L.geoJSON(data, {
                style: {
                    fillColor: data.features[0].properties.col3,
                    fillOpacity: 0.5,
                    color: 'black'
                },
                onEachFeature: function (feature, layer) {
                    // Add a click event listener to each hexagon polygon
                    layer.on('click', async function (event) {
                        let totalAfadNetworkRegionScoreForThisHexagon = await loadAfadAnalytics(feature.properties.ID);
                        let totalHospitalityNetworkRegionScoreForThisHexagon = await loadHospitalityAnalytics(feature.properties.ID);
                        let totalAreaRatioForThisHexagon = await loadAreaAnalytics(feature.properties.ID);
                        let totalFaultLineDistanceForThisHexagon = await loadFaultLineDistanceAnalytics(feature.properties.ID);
                        let totalSuitabilityForThisHexagon = await loadSuitabilityAnalytics(feature.properties.ID);
                        console.log("totalAfadNetworkRegionScoreForThisHexagon: ", totalAfadNetworkRegionScoreForThisHexagon)
                        console.log("totalHospitalityNetworkRegionScoreForThisHexagon: ", totalHospitalityNetworkRegionScoreForThisHexagon)
                        console.log("totalAreaRatioForThisHexagon: ", totalAreaRatioForThisHexagon)
                        console.log("totalFaultLineDistanceForThisHexagon: ", totalFaultLineDistanceForThisHexagon)
                        console.log("totalSuitabilityForThisHexagon: ", totalSuitabilityForThisHexagon)
                        // console.log("feature", feature.properties.ID)
                        // console.log("event", event.sourceTarget._leaflet_id)
                        // Create a popup with a graph
                        var popup = layer.getPopup();
                        if (!popup) {
                            popup = L.popup();
                            layer.bindPopup(popup);
                        }

                        // Create a canvas element for the graph
                        var canvas = document.createElement('canvas');

                        // Append the canvas to the popup content
                        popup.setContent(canvas);

                        // Generate sample data for the graph (replace with your data)

                        var marksData = {
                            // labels: ["Fay Hattına Yakınlık", "Toplanma Noktalarına Yakınlık", "Hastanelere Yakınlık", "Toplanma Alanı Güvenlik", "Toplanma Alanı Yeterlilik"],
                            labels: ["a", "b", "c", "d", "e"],
                            datasets: [{
                                label: "Analiz Grafiği",
                                backgroundColor: "rgba(200,0,0,0.2)",
                                data: [totalFaultLineDistanceForThisHexagon, totalAfadNetworkRegionScoreForThisHexagon, totalHospitalityNetworkRegionScoreForThisHexagon, totalAreaRatioForThisHexagon, totalSuitabilityForThisHexagon].sort()
                            }]
                        };

                        var radarChart = new Chart(canvas, {
                            type: 'radar',
                            data: marksData,
                            width: 500,
                            height: 500
                        });


                        // Open the popup on the map
                        layer.openPopup();
                    });
                }
            }).addTo(map);
        });
</script>
</body>
</html>
